/* All color combinations are AAA certified from this site
http://www.sussex.ac.uk/tel/resource/tel_website/accessiblecontrast/

#d6d2c4-#003b49
    
    8.05:1

#FFC845-#003b49
    
    7.89:1

#d0d3d4-#003b49

    8.1:1

*/
li {
    display: inline;
}

body {
    background-color: #d0d3d4;
}

footer {
    background-color: #003b49;
    color: #d6d2c4;
    padding: 10px;
}

nav {
    background-color: #003b49;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #d6d2c4;
    padding: 10px;
}

a:visited {
    text-decoration: none;
    color: #d6d2c4;
}

a:hover {
    color: #ffc845;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
}

.bio {
    padding: 10px;
}

.bio img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}


.bio p {
    font-size: 16px;
}


content {

    padding: 10px;

}

table, tr, td, th{

    border: 1px solid;

}

#table {

    width: 100%;
    height: 250px;

}

#homeParagraph {

    width: 50%;
    height: 75%;

}

#table1 {

    width: 100%;
    height: 350px;
    table-layout: fixed;

}

#table1 td .cell_content{
    aspect-ratio: 1/1;
}

#homeFooter {

    margin-top:275px;

}

#colorFooter {

    margin-top:575px; 

}

#companyImage {

    margin-top: 10px;

}

#leftColumn {

    width: 20%;

}

#rightColumn {

    width: 80%;

}