li {

    display: inline;

}

a:link {

    text-decoration: none;
    color: blue;
    padding: 10px;

}

a:hover {

    color: green;

}

content {

    padding: 10px;

}

table, tr, td{

    border: 1px solid;

}